body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
}

/* HEADER */
header {
    background: #4285f4;
    color: white;
    padding: 20px;
}

/* NAV BAR */
nav {
    background: rgb(255, 255, 255);
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* CONTENT */
.content {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

/* CARD */
.card {
    background: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #4caf50;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: #388e3c;
}
